input {
    /*background-color: #ffff00;*/
}

.ac-search-results {
    cursor: pointer;
    padding: 2px;
}

.ac-search-results:hover {
    background-color: #737373;
    color: #ffffff;
}

.ac-live-search {
    position: absolute;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px #adadad;
    /*border-radius: 4px;*/
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}