<div>
    <!--<label for="{{identifier}}">Producto</label><br>-->
    <input type="text"
           id="{{identifier}}"
           name="{{identifier}}"
           ng-model="objName"
           ng-maxlength="45"
           required
           ng-keyup="acSearchCtrl.mostrarPanel(); acSearchCtrl.move($event);"
           ng-focus="acSearchCtrl.mostrarPanel();"><br>
    <label for="{{identifier}}">{{nombreVisible}}</label>
        <span
                style="color:red"
                ng-show="dirtyCondition && invalidCondition">
            <span ng-show="requiredCondition">Debe ingresar un Nombre</span>
            <span ng-show="maxlengthCondition">El Nombre es demasiado largo (Máximo 45)</span>
        </span>

    <div class="ac-live-search" id="ac-live-search{{nombre}}"
         ng-focus="acSearchCtrl.mostrarPanel();"
         >
        <div class="ac-search-results" ng-repeat="data in acSearchCtrl.data" ng-click="acSearchCtrl.select($index);"
                ng-class="{'ac-search-item-selected':acSearchCtrl.indexSelected == $index}">
            {{data.nombre}} {{data.apellido}} {{data.description}}
        </div>

    </div>
</div>
<!--<link rel="stylesheet" href="./search-panel/search-panel.css"/>-->
